In [2]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

path = 'C:/Users/Myeong/dding/data/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/1.Training/라벨링데이터/일상생활및구어체_영한_train_set.json'

In [3]:
data = pd.read_json(path)
line = list(data['data'])
df = pd.DataFrame(line)
df.head()

                                                data
0  {'sn': 'ECOAR1A00003', 'data_set': '일상생활및구어체',...
1  {'sn': 'ECOAR1A00004', 'data_set': '일상생활및구어체',...
2  {'sn': 'ECOAR1A00009', 'data_set': '일상생활및구어체',...
3  {'sn': 'ECOAR1A00016', 'data_set': '일상생활및구어체',...
4  {'sn': 'ECOAR1A00027', 'data_set': '일상생활및구어체',...

In [6]:
line = list(data['data'])
df = pd.DataFrame(line)
df.head()

,sn,data_set,domain,subdomain,en_original,en,mt,ko,source_language,target_language,word_count_ko,word_count_en,word_ratio,file_name,source,license,style,included_unknown_words,ner
0,ECOAR1A00003,일상생활및구어체,해외고객과의채팅,"숙박,음식점","I'm glad to hear that, and I hope you do consi...","I'm glad to hear that, and I hope you do consi...",그 소식을 들으니 기쁩니다. 우리와 거래하는 것을 고려해 보시기 바랍니다.,"그 말을 들으니 기쁘고, 저희와 거래하는 것을 고려해 주셨으면 합니다.",en,ko,10.0,15.0,0.667,"해외고객과의채팅_숙박,음식점.xlsx",크라우드 소싱,open,구어체,False,None
1,ECOAR1A00004,일상생활및구어체,해외고객과의채팅,"숙박,음식점","I'm definitely thinking about it, but I have s...","I'm definitely thinking about it, but I have s...",확실히 생각하고 있지만 몇 가지 질문이 있습니다.,"확실히 생각하고 있습니다만, 몇 가지 여쭤보고 싶은 게 있어요.",en,ko,9.0,13.0,0.692,"해외고객과의채팅_숙박,음식점.xlsx",크라우드 소싱,open,구어체,False,None
2,ECOAR1A00009,일상생활및구어체,해외고객과의채팅,"숙박,음식점","In today's world, one in every five families h...","In today's world, one in every five families h...",오늘날의 세계에서는 5가구 중 1가구는 고양이나 개 또는 둘 다를 키우고 있습니다.,오늘날 세계 5가구 중 1가구는 고양이나 개 또는 둘 다를 키우고 있습니다.,en,ko,12.0,15.0,0.800,"해외고객과의채팅_숙박,음식점.xlsx",크라우드 소싱,open,구어체,False,None
3,ECOAR1A00016,일상생활및구어체,해외고객과의채팅,"숙박,음식점","When you tell them, we'll take care of their c...","When you tell them, we'll take care of their c...","당신이 그들에게 말할 때, 우리는 그들의 아이를 돌볼 것입니다.","그들에게 말하면, 저희가 그 아이들을 돌볼 것입니다.",en,ko,7.0,10.0,0.700,"해외고객과의채팅_숙박,음식점.xlsx",크라우드 소싱,open,구어체,False,None
4,ECOAR1A00027,일상생활및구어체,해외고객과의채팅,"숙박,음식점","OK, how about for swimming?","OK, how about for swimming?","좋아, 수영은 어때?","좋아요, 수영은 어떤가요?",en,ko,3.0,5.0,0.600,"해외고객과의채팅_숙박,음식점.xlsx",크라우드 소싱,open,구어체,False,None

In [8]:
data1 = df[['en', 'ko']]
data1

,en,ko
0,"I'm glad to hear that, and I hope you do consi...","그 말을 들으니 기쁘고, 저희와 거래하는 것을 고려해 주셨으면 합니다."
1,"I'm definitely thinking about it, but I have s...","확실히 생각하고 있습니다만, 몇 가지 여쭤보고 싶은 게 있어요."
2,"In today's world, one in every five families h...",오늘날 세계 5가구 중 1가구는 고양이나 개 또는 둘 다를 키우고 있습니다.
3,"When you tell them, we'll take care of their c...","그들에게 말하면, 저희가 그 아이들을 돌볼 것입니다."
4,"OK, how about for swimming?","좋아요, 수영은 어떤가요?"
...,...,...
1200302,It is waterproof and supports various scenarios.,방수 기능이 제공되며 다양한 시나리오를 지원합니다.
1200303,It can automatically recognize your swimming p...,"수영 자세를 자동으로 인식하고 회사, 속도 또는 칼로리 소비와 같은 데이터를 기록할..."
1200304,Provides 14 days of battery life.,14일간의 배터리 수명을 제공합니다.
1200305,Thanks to the aircraft-grade aluminum alloy bo...,스마트 워치는 항공기 등급의 알루미늄 합금 바디 덕분에 얇고 가벼워 착용감이 우수합니다.
1200306,Fitness Smart Watch Obsidian Heart Rate Monito...,피트니스 스마트 워치 옵시디언 심박수 모니터링 14일 배터리 수명 음악 플레이 제어...

In [9]:
path = 'C:/Users/Myeong/dding/data/025.일상생활 및 구어체 한-영 번역 병렬 말뭉치 데이터/01.데이터/1.Training/라벨링데이터/일상생활및구어체_한영_train_set.json'
data = pd.read_json(path)
line = list(data['data'])
df = pd.DataFrame(line)
data2 = df[['en', 'ko']]
data2

,en,ko
0,"If you reply to the color you want, we will st...",원하시는 색상을 회신해 주시면 바로 제작 들어가겠습니다.
1,You know what the funniest picture is.,형님 제일 웃긴 그림이 뭔지 알아요.
2,>Underwear?,>속옷을?
3,I wont buy a lot though since the price is sti...,그래도 가격이 꽤 비싸니까 많이 살게요.
4,"Dear AAA, I really want to apologize for my an...","AAA님, 제가 회의에서 화를 냈던 점 정말 사과드리고 싶습니다."
...,...,...
1199995,So then you need 2 liters of the medium right?,그럼 미디엄은 2리터 필요하신 거죠?
1199996,Please contact BBB customer support for refund...,환불 요청은 BBB 고객 지원으로 문의하십시오.
1199997,It is a mini size and boasts portability that ...,미니 사이즈로 언제어디서나 즐길 수 있는 휴대성을 자랑합니다.
1199998,The bookstore will not take any special action...,본사에서 충분히 검토하고 선정했을 것이기에 서점에서 특별한 조치는 취하지 않을 것입니다.
1199999,>See?,">야이, 씨!"

In [10]:
all_data = pd.concat([data1, data2], ignore_index=True)
all_data

,en,ko
0,"I'm glad to hear that, and I hope you do consi...","그 말을 들으니 기쁘고, 저희와 거래하는 것을 고려해 주셨으면 합니다."
1,"I'm definitely thinking about it, but I have s...","확실히 생각하고 있습니다만, 몇 가지 여쭤보고 싶은 게 있어요."
2,"In today's world, one in every five families h...",오늘날 세계 5가구 중 1가구는 고양이나 개 또는 둘 다를 키우고 있습니다.
3,"When you tell them, we'll take care of their c...","그들에게 말하면, 저희가 그 아이들을 돌볼 것입니다."
4,"OK, how about for swimming?","좋아요, 수영은 어떤가요?"
...,...,...
2400302,So then you need 2 liters of the medium right?,그럼 미디엄은 2리터 필요하신 거죠?
2400303,Please contact BBB customer support for refund...,환불 요청은 BBB 고객 지원으로 문의하십시오.
2400304,It is a mini size and boasts portability that ...,미니 사이즈로 언제어디서나 즐길 수 있는 휴대성을 자랑합니다.
2400305,The bookstore will not take any special action...,본사에서 충분히 검토하고 선정했을 것이기에 서점에서 특별한 조치는 취하지 않을 것입니다.
2400306,>See?,">야이, 씨!"

In [11]:
all_data.to_csv('c:/Users/Myeong/dding/data/kor-eng_AIHUB.csv', index=False)